/*ELEMENT SELECTORS*/

/* element to design the body*/
body {
    font-size: 20px;
    background: rgb(204, 221, 255);
    margin: 0;
  }

  /*css code below is to design the header*/
  header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  background-color: rgb(7,52,82);

}

/*css to design the footer*/
footer {
display: flex;
flex-direction: row;;
color: white;
background-color: rgb(7,52,82);
justify-content: flex-end;
margin: 0;
}
  /*CLASS SELECTORS*/
  .boxes{
background-color: rgb(179, 71, 0);
  padding: 0;
  overflow: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.c-j{
  color: white;
  font-size: 50px;
text-decoration: none;


}
  .logo-text{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    background-position: center;
    font-family: 'Luckiest Guy', cursive;
    color: black;

  }

/*css code below is to design the images*/
  .cool-image{
    border: 2px solid rgba(100, 100, 100, 0.9);
    image-resolution: from-image;
    width: 50%;
    margin: auto;
    align-items: center;

}
  .cool-list{
    list-style: none;
    padding: 0;
    text-decoration: none;
  }
/*this css code below is to design the buttons*/
.nav-bar{
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
justify-content: space-around;
}
.nav-bar-buttons:hover{
  display: block;
      color: #000;
      padding: 8px 16px;

}

.nav-bar-buttons{
  text-decoration: none;
  color: white;
  font-size: 20px;

}

.items{
display: flex;
flex-direction: column;
}


/*cv.html editing*/
.cv-h1{
  font-size: 30px;
  font-family: 'Luckiest Guy', cursive;
  margin: auto;
}
.cv-h2{
  font-size: 25px;
  color: red;
  text-align: center;;
}

/*bio.html editing*/
.h2-title{
  text-align: center;
}
.bio-page{
  display: flex;
  flex-direction:column-reverse;
}
/*contact.html editing*/
.form{
  display:flex;
  flex-direction: column;

}
.message-box{
  height: 200px;
}
.h2c{
  text-align:center;
}
.map{
  width: 40%;
  height: 40%;
  margin-left: 10px;
  margin-bottom: 5px;
