/*ELEMENT SELECTORS*/
body {
    font-size: 20px;
    background: white;

/*CLASS SELECTORS*/
  }
/*css code below is to design the header*/
  .logo-text{
    background-color:
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    background-position: center;
  font-family: 'Luckiest Guy', cursive;
    color: black;

  }
/*css code below is to design the images*/
  .cool-image{
    border: 2px solid rgba(100, 100, 100, 0.9);
    image-resolution: from-image;
    image-size: 80px;
    width: 80%;
    margin: auto;

}
  .cool-list{
    list-style: none;
    padding: 0;
    text-decoration: none;
  }
/*this css code below is to design the buttons*/
.nav-bar{
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: space-around;
  background-color: black;
}

.nav-bar-buttons{
  text-decoration: none;
  color: white;
}

.items{
display: flex;
flex-direction: column;
justify-content: center;
}

.footer {
  display: flex;
  flex-direction: row;
  color: white;
  align-items: baseline;
background-color: black;
justify-content: flex-end;
}
/*cv.html editing*/

.cv-body{
  background-color: white;
}
.cv-h1{
  font-size: 30px;
}
.cv-h2{
  font-size: 25px;
  color: red;
  text-align: center;;
}
.cv-logo{
  font-family: 'Luckiest Guy', cursive;
}
/*bio.html editing*/
.bio-body{
  background-color: white;

}
.h2b{
  text-align: center;
}
/*contact.html editing*/
.contact-body{
background-color: white;
}
.form{
  display:flex;
  flex-direction: column;
  justify-content: center;

}
.contact-header{
  color: Black;
  display: flex;
  justify-content:flex-start;;
  font-size: 30px;
  font-family: 'Luckiest Guy', cursive;
}
.message-box{
  height: 200px;
}
.h2c{
  text-align: center;
}
